In [10]:
#Importing Libraries
import os   
import pandas as pd 
import math 
import matplotlib.pyplot as plt 
import numpy as np

In [11]:
#set working directory 
path = 'C:/Users/Prudhvi/Desktop/Python/In Class Exam.csv/'

In [12]:
#Reading data from CSV file
pd.read_csv("C:/Users/Prudhvi/Desktop/Python/In Class Exam.csv")

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2010_CIV,POPEST2010_CIV,POPEST2011_CIV,POPEST2012_CIV,POPEST2013_CIV,POPEST2014_CIV,POPEST2015_CIV,POPEST2016_CIV,POPEST2017_CIV,POPEST2018_CIV,POPEST2019_CIV,POPEST2020_CIV
0,10,0,0,0,United States,0,0,3944160,3951495,3963264,3926731,3931411,3954973,3984144,3963268,3882437,3826908,3762227,3735010
1,10,0,0,0,United States,0,1,3978090,3957904,3966768,3978210,3943348,3949559,3973828,4003586,3981864,3897917,3842257,3773884
2,10,0,0,0,United States,0,2,4096939,4090799,3971498,3980139,3993047,3960015,3967672,3992657,4021261,3996742,3911822,3853025
3,10,0,0,0,United States,0,3,4119051,4111869,4102429,3983007,3992839,4007852,3976277,3984985,4009060,4035053,4009037,3921526
4,10,0,0,0,United States,0,4,4063186,4077511,4122252,4112849,3994539,4006407,4022785,3992241,4000394,4021907,4045996,4017847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13567,40,4,8,56,Wyoming,2,82,1103,1104,1107,1084,1106,1107,1037,1090,1129,1124,1177,1192
13568,40,4,8,56,Wyoming,2,83,911,936,1028,1035,1001,1030,1033,955,1023,1054,1045,1111
13569,40,4,8,56,Wyoming,2,84,894,883,880,1011,987,944,973,976,917,984,996,1000
13570,40,4,8,56,Wyoming,2,85,5624,5646,5731,5852,6047,6254,6377,6550,6752,6825,6842,6810
13571,40,4,8,56,Wyoming,2,999,275794,276234,277652,281735,284599,284907,286189,285773,283586,283402,283878,284909

In [ ]:
X=state
k=

In [ ]:
#creating dataframe with the x values obtained

data = { 'k' : [  '0','1', '2','3', '4','5', '6','7', '8---'999']'x values' : [0,56]
frame = pd.DataFrame(data)

frame